*{
    box-sizing:border-box;
    margin: 0;
}

body {
    background-color: white;
}

header {
    padding-top: 20px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right:1vw;
}

header a{
    display: block;
    height: fit-content;
    width: fit-content;
    padding:5px 10px;
    border-radius: 20px;
    border: 2px solid rgb(150,0,210);
    transition: 0.4s;
}

.cv:link,.cv:visited{
    color:black;
}

.cv:hover{
    background-color: rgb(150,0,210);
    color: white;
}

.intro_1 {
    margin-top: 10%;
    margin-bottom: 1%;
    text-align: center;
    font-size: 44px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(6, 6, 32);
}

.intro_2{
    text-align:center;
    font-size: 16.5px;
    font-weight: 500;
    font-family:'Eurostile',sans-serif;
}

.avatar{
    display: flex;
    justify-content: center;
}
.img1 {
    margin-top: 60px;
    width:20%;
    border-radius: 100px;
}

.main_img{
    display: flex;
    justify-content: center;
}

.img2 {
    margin-top: 140px;
    width:600px;
}

.presentation{
    background-color: rgb(120,0,255);
    padding:20%;
}

.presentation_box{
    color: white;
    font-size:2em;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 1.5rem;
}

.tools{
    margin-top: 150px;
    margin-bottom: 85px;
    font-size: xx-large;
    font-weight: 800;
    font-family:'Eurostile',sans-serif;
    display: flex;
    justify-content: center;
}

.tools_img{
    margin:30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 95px;
    align-items:center;
    padding-top: 50px;
    padding-bottom: 50px;
    border: solid 4px rgb(120,0,255);
}

.img_of_tool {
    width:130px;
}

.skills_title{
    margin-top: 150px;
    margin-bottom: 85px;
    font-size: xx-large;
    font-weight: 800;
    font-family:'Eurostile',sans-serif;
    display: flex;
    justify-content: center;
    background-color: white;
}

.skills{
    border:solid 4px rgb(120,0,255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin:30px 25px 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.skills_left_side,.skills_right_side{
    font-size: large;
}

.skills_left_side img,.skills_right_side img{
    height:160px;
    max-width:190px;
}

.projects_title{
    margin-top: 200px;
    font-size: xx-large;
    font-weight: 800;
    font-family:'Eurostile',sans-serif;
    display: flex;
    justify-content: center;
}

/*.projects{
    margin: 50px 20px;
    margin-bottom: 200px;
    border:solid 5px rgb(120,0,255);
    padding: 50px 40px;
    display:table;
    width: 97%;
}
.project_description{
    padding-top: 82px;
}
.projects_left_side{
    width: 50%;
    padding-right: 50px;
    padding-bottom: 135px;
    border-right: 1px solid rgb(120,0,255);
}
.projects_right_side{
    width:40%;
    margin-left: 57px;
}
.projects_left_side,.projects_right_side{
    float:left;
    font-size: 20px;
    line-height: 2rem;
}

.projects_left_side img,.projects_right_side img{
    width: 350px;
    height: 420px;
    transition: 1s;
}

.projects_link img:hover{
    width: 500px;
    height: 500px;
}*/

.project{
    border: 5px solid rgb(120,0,255);
    display: flex;
    flex-flow:column;
    margin: 50px 20px;
    margin-bottom: 200px;
}
.project1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px 30px;
}
.lp1{
    font-size:18px;
    line-height: 2rem;
}
.rp1 img{    
    padding-top: 20px;
    width: 450px;
    height:300px;
    transition: 1s;
}
.rp1 img:hover{
    width: 490px;
    height: 340px;
}
.project2{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px 30px ;
}
.lp2{
    margin-left: 10px;
    padding-left: 20px;
    font-size:16px;
    line-height: 2rem;
}
.rp2 img{    
    padding-top: 20px;
    width: 450px;
    height:300px;
    transition: 1s;
}
.rp2 img:hover{
    width: 490px;
    height: 340px;
}

footer{
    text-align: center;
    font-style: italic;
    font-size: large;
    font-weight: 500;
    color:white;
    background-color: rgb(120,0,255);
    padding: 20px;
}

a:link{
    color:black;
    text-decoration: none;
}
