*{
    box-sizing:border-box;
    margin: 0;
}

body {
    background-color: white;
}

header {
    padding-top: 20px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right:1vw;
}

header a{
    display: block;
    height: fit-content;
    width: fit-content;
    padding:5px 10px;
    border-radius: 20px;
    border: 2px solid rgb(150,0,210);
    transition: 0.4s;
}

.cv:link,.cv:visited{
    color:black;
}

.cv:hover{
    background-color: rgb(150,0,210);
    color: white;
}

.intro_1 {
    margin-top: 10%;
    margin-bottom: 1%;
    text-align: center;
    font-size: 44px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(6, 6, 32);
}

.intro_2{
    text-align:center;
    font-size: 16.5px;
    font-weight: 500;
    font-family:'Eurostile',sans-serif;
}

.avatar{
    display: flex;
    justify-content: center;
}
.img1 {
    margin-top: 60px;
    width:20%;
    border-radius: 100px;
}

.main_img{
    display: flex;
    justify-content: center;
}

.img2 {
    margin-top: 140px;
    width:600px;
}

.presentation{
    background-color: rgb(120,0,255);
    padding:20%;
}

.presentation_box{
    color: white;
    font-size:2em;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 1.5rem;
}

.tools{
    margin-top: 150px;
    margin-bottom: 85px;
    font-size: xx-large;
    font-weight: 800;
    font-family:'Eurostile',sans-serif;
    display: flex;
    justify-content: center;
}

.tools_img{
    margin:30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 95px;
    align-items:center;
    padding-top: 50px;
    padding-bottom: 50px;
    border: solid 4px whitesmoke;
}

.img_of_tool {
    width:130px;
}

.skills_title{
    margin-top: 150px;
    margin-bottom: 85px;
    font-size: xx-large;
    font-weight: 800;
    font-family:'Eurostile',sans-serif;
    display: flex;
    justify-content: center;
    background-color: white;
}

.skills{
    border:solid 4px whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    margin:30px 25px 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.skills1,.skills2{
    float:left;
    font-size: large;
}

.skills1 img,.skills2 img{
    height:160px;
    max-width:190px;
}

a:link{
     color:black;
     text-decoration: none;
}

footer{
    text-align: center;
    font-style: italic;
    font-size: large;
    font-weight: 500;
    color:white;
    background-color: rgb(120,0,255);
    padding: 20px;
}
